
# Use .bashrc when possible for cross-compatibility with bash
if [ -f "$HOME/.bashrc" ]; then
  source "$HOME/.bashrc"
fi

alias s="sesh connect \$(sesh list | fzf)"
# alias cat="bat"

if _have eza; then 
  alias ls="eza"
  alias ll="eza -la"
  alias tree='eza --tree "$@"'
fi

if _have fzf; then
  # Set up fzf key bindings and fuzzy completion
  source <(fzf --zsh)
fi

if _have zoxide; then 
  # Zoxide (better cd)
  eval "$(zoxide init zsh)"
fi

# Starship
if _have starship; then
  eval "$(starship init zsh)"
fi

# Added by dart cli
[[ -f $HOME/.dart-cli-completion/zsh-config.zsh ]] && . $HOME/.dart-cli-completion/zsh-config.zsh || true

# Use Arc as our Chromium option (for now)
export CHROME_EXECUTABLE=/Applications/Arc.app/Contents/MacOS/Arc
