#!/bin/bash
{{ if (eq .chezmoi.os "darwin") -}}

## Rust tooling 

# Install rustup if not installed
if ! command -v rustup &> /dev/null; then
  curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh
  rustup update
fi

# Install Rosetta
sudo softwareupdate --install-rosetta --agree-to-license

{{ end -}}
