{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh
  {{ if eq .chezmoi.username "root" }}
    sudo_cmd = ""
  {{ else }}
    sudo_cmd = "sudo"
  {{ end -}}
  {{ if eq .chezmoi.osRelease.idLike "debian" }}
    #!/bin/bash
    {{ range .packages.linux.apt -}}
      echo {{ . | quote }}
    {{ end -}}
     | xargs $sudo_cmd apt install -y
  {{ end -}}
{{ end -}}

